@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-montserrat;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@layer components {
  .button-white {
    display: block;
    text-align: center;
    background-color: #d9d9d9;
    padding: 0.75em;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-weight: 500;
    cursor: pointer;

    @apply font-montserrat;
    @apply text-app-darkBlue;
  }

  .button-white:disabled {
    background-color: rgba(0, 0, 0, 0.15);
    cursor: progress;
  }

  .button-orange {
    display: block;
    text-align: center;
    background-image: theme("backgroundImage.app-gradientBg");
    padding: 0.75em;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-weight: 400;
    cursor: pointer;
    color: white;
    text-transform: uppercase;

    @apply font-montserrat;
  }

  .input-field > p {
    text-align: center;
    font-size: 0.9em;
    font-weight: 400;

    @apply text-app-darkBlue;
  }

  .input-field > input {
    padding: 0.25em 0.75em;

    border-radius: 1.25em;
    border: 1px solid theme("colors.app-darkBlue");
    background: rgba(255, 255, 255, 0.5);

    @apply text-app-darkBlue;
  }
}

html,
body,
#root {
  min-height: 100%;
  height: max(100%, max-content);
}

input[type="checkbox"] {
  position: relative;
  cursor: pointer;
}
input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 17px;
  height: 18px;
  top: 0;
  left: 0;
  border: 2px solid theme("colors.app-darkBlue");
  border-radius: 3px;
  background-color: #d9d9d9;
}
input[type="checkbox"]:checked:before {
  border: 2px solid theme("colors.app-lightBlue");
}
input[type="checkbox"]:checked:after {
  content: "X";
  display: block;
  width: 5px;
  height: 10px;
  position: absolute;
  font-weight: bolder;
  color: theme("colors.app-lightBlue");
  font-size: 18px;
  top: -4px;
  left: 2px;
}
