# Node environment
NODE_ENV=development

# Port number
PORT=8800

# URL of the Mongo DB
MONGODB_URL=mongodb://127.0.0.1:27017/what-to-cook-app

CLIENT_URL=http://localhost:3001
BASE_URL=http://localhost:8800/api

# JWT secret key
JWT_SECRET=SuperSecretKeyMinLengthOfThirtyTwoCharacters
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USERNAME=example@ethereal.email
SMTP_PASSWORD=examplePassword
EMAIL_FROM=example@ethereal.email
